#header {
  height: 75px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(188, 188, 188, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%; }
  #header.is-show-menu .logo {
    position: relative; }
    #header.is-show-menu .logo a {
      opacity: 0;
      visibility: hidden; }
    #header.is-show-menu .logo .control-menu-mb {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header.is-show-menu .logo .control-menu-mb .lines__second {
        display: none; }
      #header.is-show-menu .logo .control-menu-mb .lines__first {
        transform: rotate(45deg); }
      #header.is-show-menu .logo .control-menu-mb .lines__last {
        transform: rotate(-45deg);
        position: relative;
        top: -3px; }
      #header.is-show-menu .logo .control-menu-mb .text {
        display: none !important; }
  #header.is-show-menu .menu {
    right: 0 !important; }
  @media (min-width: 768px) {
    #header .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  #header .wrapper .logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header .wrapper .logo a img {
      width: 125px; }
      @media (min-width: 992px) {
        #header .wrapper .logo a img {
          width: 175px; } }
  #header .wrapper .menu {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(100% - 60px);
    height: 100%;
    z-index: 2;
    background: #ffffff;
    padding: 20px;
    transition: all .5s ease; }
    @media (min-width: 768px) {
      #header .wrapper .menu {
        position: static;
        height: initial;
        width: initial;
        box-shadow: none;
        padding: 0; } }
    #header .wrapper .menu ul li {
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        #header .wrapper .menu ul li {
          display: inline-block;
          margin: 0 5px;
          padding: 0 !important;
          border: none !important; } }
      @media (min-width: 992px) {
        #header .wrapper .menu ul li {
          margin: 0 0 0 20px; } }
      #header .wrapper .menu ul li:first-child {
        border-bottom: 1px solid #dddddd;
        padding-bottom: 20px; }
      #header .wrapper .menu ul li a {
        display: inline-block;
        font-size: 16px;
        color: #333333; }
        @media (min-width: 768px) {
          #header .wrapper .menu ul li a {
            width: 150px;
            text-align: center;
            border: 1px solid;
            padding: 10px 0;
            border-radius: 25px;
            font-weight: 700;
            font-size: 18px; }
            #header .wrapper .menu ul li a.register-btn {
              background-image: linear-gradient(to right, #fe5a75, #fd9266);
              color: #ffffff; }
            #header .wrapper .menu ul li a.login-btn {
              border: solid 1px #fe5a75;
              color: #fe5a75; }
            #header .wrapper .menu ul li a.active-btn {
              border: solid 1px #1cd1ff;
              color: #1cd1ff; } }
        #header .wrapper .menu ul li a img {
          width: 20px;
          margin-right: 10px; }
          @media (min-width: 768px) {
            #header .wrapper .menu ul li a img {
              display: none; } }
  #header .lines {
    left: 0;
    top: 0;
    transform: translateY(0);
    transition: all .5s ease;
    display: flex; }
    #header .lines .text {
      margin-right: 10px; }
    #header .lines span {
      background: #E46586;
      width: 28px;
      height: 3px;
      display: block;
      transform: rotate(0deg);
      transition: all .5s ease; }
    #header .lines__second {
      margin: 5px 0; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit; }

input, textarea {
  border: 1px solid #333;
  padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input:focus, textarea:focus {
    border: 1px solid #3B5998;
    outline: none; }

textarea {
  resize: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  select:focus {
    outline: none; }

body {
  font-family: 'SVN-ProductSans',sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #333333;
  font-size: 14px; }
  @media (min-width: 992px) {
    body {
      font-size: 16px; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

button {
  cursor: pointer;
  transition: all .4s ease; }
  button:focus {
    outline: none; }

a {
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

input:focus {
  outline: none; }

input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 5px; }

input[type="checkbox"]:after {
  content: '';
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 7px;
  top: 3px;
  opacity: 0;
  transform: rotate(45deg); }

input[type="checkbox"]:checked {
  outline: none;
  background: #7ed321; }

input[type="checkbox"]:checked:after {
  opacity: 1; }

input[type="radio"] {
  -webkit-appearance: none;
  background: #fff;
  width: 21px;
  height: 21px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 50%; }

input[type='radio']:checked {
  border-color: #7ed321; }

input[type="radio"]:after {
  content: '';
  width: 13px;
  height: 13px;
  background: #7ed321;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  border-radius: 50%; }

input[type="radio"]:checked {
  outline: none;
  background: #fff; }

input[type="radio"]:checked:after {
  opacity: 1; }

.wrapper-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background: #000000; }
  .wrapper-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.slick-slide:focus {
  outline: none; }

@keyframes movement {
  0% {
    left: 0; }
  50% {
    left: -10px; }
  100% {
    left: 0; } }

.pagination-line ul {
  display: flex;
  justify-content: center; }
  .pagination-line ul li {
    margin-right: 10px; }
    .pagination-line ul li.disabled a {
      background: #ffffff !important;
      border-color: #dddddd !important;
      cursor: not-allowed; }
      .pagination-line ul li.disabled a i {
        color: #dddddd; }
    .pagination-line ul li:hover a {
      background: #f59423;
      color: #ffffff;
      border-color: #f59423; }
    .pagination-line ul li:last-child {
      margin-right: 0; }
    .pagination-line ul li.active a {
      color: #ffffff;
      background: #f59423;
      border-color: #f59423; }
    .pagination-line ul li a {
      width: 40px;
      display: inline-block;
      border-radius: 5px;
      border: solid 1px #dddddd;
      background-color: #ffffff;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      padding: 10px 0;
      color: #f59423; }

.course-item {
  border: 1px solid #dddddd;
  padding: 20px 15px 10px;
  border-radius: 15px;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .course-item {
      padding: 0 0 10px;
      border: none;
      box-shadow: 0 2px 10px 0 rgba(202, 202, 202, 0.5);
      margin-bottom: 30px;
      position: relative; } }
  @media (min-width: 1200px) {
    .course-item.last-item .box-details {
      right: initial;
      left: calc(-100% - 20px); }
      .course-item.last-item .box-details:after {
        display: block;
        content: '';
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: initial;
        border-left: 10px solid #ffffff;
        position: absolute;
        left: initial;
        right: -10px;
        top: 20px; }
    .course-item .box-details {
      width: 350px;
      background: #ffffff;
      box-shadow: 0 2px 19px 0 rgba(204, 204, 204, 0.5);
      padding: 30px 20px;
      margin-left: 10px;
      border-radius: 15px;
      position: absolute;
      right: calc(-100% - 10px);
      top: 0;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out; }
      .course-item .box-details:after {
        display: block;
        content: '';
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ffffff;
        position: absolute;
        left: -10px;
        top: 20px; }
      .course-item .box-details h4 {
        color: #ff3f7c;
        font-size: 24px;
        font-weight: 700; }
      .course-item .box-details .name {
        margin: 10px 0; }
      .course-item .box-details .des {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        max-height: 80px;
        line-height: 20px; }
      .course-item .box-details a {
        color: #333333;
        margin-top: 10px; }
      .course-item .box-details .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 15px -20px;
        width: calc(100% + 40px);
        padding: 20px 20px 5px; }
        .course-item .box-details .price .promotion-price {
          color: #ff3f7c;
          font-size: 18px;
          font-weight: 700; }
        .course-item .box-details .price .origin-price {
          text-decoration: line-through;
          color: #888888; }
      .course-item .box-details button {
        border-radius: 22.5px;
        background-image: linear-gradient(to right, #fe5a75, #fd9266);
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
        padding: 12px 0 10px;
        border: none; }
    .course-item:hover .box-details {
      opacity: 1;
      visibility: visible; } }
  .course-item .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3; }
  .course-item .btn-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3; }
  .course-item .wrapper {
    display: flex; }
    @media (min-width: 992px) {
      .course-item .wrapper {
        display: block; } }
    .course-item .wrapper .img {
      width: 100px;
      margin-right: 10px; }
      @media (min-width: 992px) {
        .course-item .wrapper .img {
          width: 100%;
          border-radius: 15px 15px 0 0;
          overflow: hidden;
          position: relative; }
          .course-item .wrapper .img:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
            z-index: 2; } }
      .course-item .wrapper .img img {
        border-radius: 5px; }
    .course-item .wrapper .wrapper-mb-style {
      width: calc(100% - 110px); }
      @media (min-width: 992px) {
        .course-item .wrapper .wrapper-mb-style {
          width: calc(100% - 30px);
          margin-left: 15px;
          margin-top: -20px;
          position: relative;
          z-index: 2; } }
    .course-item .wrapper .tag-rating {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (min-width: 992px) {
        .course-item .wrapper .tag-rating {
          background: #fff;
          border-radius: 23px;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          border: 1px solid #1cd1ff; } }
      .course-item .wrapper .tag-rating .tag {
        font-weight: 700;
        color: #1cd1ff; }
        @media (min-width: 992px) {
          .course-item .wrapper .tag-rating .tag {
            background-color: #1cd1ff;
            color: #ffffff;
            padding: 7px 0;
            width: 130px;
            text-align: center; } }
      @media (min-width: 992px) {
        .course-item .wrapper .tag-rating .rating {
          display: flex;
          width: calc(100% - 130px);
          justify-content: center; } }
      .course-item .wrapper .tag-rating .rating .stars {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .course-item .wrapper .tag-rating .rating .stars i {
          color: #ffe332;
          margin-left: 5px; }
          .course-item .wrapper .tag-rating .rating .stars i.disable-active {
            color: #d8d8d8; }
      .course-item .wrapper .tag-rating .rating .amount {
        display: none;
        font-family: sans-serif;
        font-weight: 700; }
        @media (min-width: 992px) {
          .course-item .wrapper .tag-rating .rating .amount {
            display: inline-block;
            color: #888888;
            margin-left: 10px; } }
    .course-item .wrapper h3 {
      font-weight: 700;
      font-size: 16px;
      margin: 5px 0 0;
      color: #ff538a; }
  .course-item .info {
    margin-top: 15px; }
    @media (min-width: 992px) {
      .course-item .info {
        margin-top: 20px; } }
    @media (min-width: 992px) {
      .course-item .info h3 {
        font-weight: 700;
        margin: 5px 0;
        color: #ff538a;
        padding: 0 15px;
        font-size: 18px; } }
    .course-item .info p {
      font-size: 16px;
      color: #666666; }
      @media (min-width: 992px) {
        .course-item .info p {
          padding: 0 15px; } }
  .course-item .price {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 15px; }
    @media (min-width: 992px) {
      .course-item .price {
        padding: 20px 15px 5px;
        margin-top: 20px; } }
    .course-item .price .promotion-price {
      font-size: 16px;
      color: #ff3f7c; }
    .course-item .price .origin-price {
      color: #888888;
      text-decoration: line-through; }

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-ProductSans.eot");
  src: url("../fonts/SVN-ProductSans.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-ProductSans.woff2") format("woff2"), url("../fonts/SVN-ProductSans.woff") format("woff"), url("../fonts/SVN-ProductSans.ttf") format("truetype"), url("../fonts/SVN-ProductSans.svg#svgFontName") format("svg");
  font-weight: 400; }

@font-face {
  font-family: 'SVN-ProductSans';
  src: url("../fonts/SVN-ProductSansBold.eot");
  src: url("../fonts/SVN-ProductSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-ProductSansBold.woff2") format("woff2"), url("../fonts/SVN-ProductSansBold.woff") format("woff"), url("../fonts/SVN-ProductSansBold.ttf") format("truetype"), url("../fonts/SVN-ProductSansBold.svg#svgFontName") format("svg");
  font-weight: 700; }

#homepage h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #666666; }
  @media (min-width: 1200px) {
    #homepage h2 {
      font-size: 30px; } }

@media (min-width: 1200px) {
  #homepage .pagination-line {
    margin-top: 10px; } }

#homepage #banner .slick-arrow {
  display: none !important; }
  @media (min-width: 992px) {
    #homepage #banner .slick-arrow {
      display: block !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      border: none;
      background-color: transparent; }
      #homepage #banner .slick-arrow img {
        width: 50px;
        height: 50px; }
      #homepage #banner .slick-arrow.slick-prev {
        left: 20px; }
      #homepage #banner .slick-arrow.slick-next {
        right: 20px; } }

#homepage #banner .slick-dots {
  text-align: center;
  position: absolute;
  bottom: -30px;
  width: 100%; }
  @media (min-width: 992px) {
    #homepage #banner .slick-dots {
      width: 100%;
      bottom: 15px; } }
  #homepage #banner .slick-dots li {
    display: inline-block;
    margin: 0 10px; }
    #homepage #banner .slick-dots li.slick-active button {
      background: #4a4a4a; }
    #homepage #banner .slick-dots li button {
      color: transparent;
      width: 10px;
      height: 10px;
      background: #d2d2d2;
      border-radius: 50%;
      border: none; }
      @media (min-width: 1200px) {
        #homepage #banner .slick-dots li button {
          width: 15px;
          height: 15px; } }

@media (min-width: 992px) {
  #homepage #banner .item {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 992px) {
  #homepage #banner .wrapper {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 992px) {
  #homepage #banner .wrapper .slider-banner {
    width: 60%; } }

@media (min-width: 1200px) {
  #homepage #banner .wrapper .slider-banner {
    width: calc(100% - 500px); } }

@media (min-width: 1200px) {
  #homepage #banner .wrapper .slider-banner .item img {
    height: 500px;
    object-fit: cover; } }

#homepage #banner .wrapper-four-box {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 30px);
  margin: 40px 0 0 15px; }
  @media (min-width: 992px) {
    #homepage #banner .wrapper-four-box {
      width: 40%;
      margin: 0; } }
  @media (min-width: 1200px) {
    #homepage #banner .wrapper-four-box {
      width: 500px; } }
  #homepage #banner .wrapper-four-box .box-item {
    width: 50%;
    height: 165px;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    position: relative;
    overflow: hidden; }
    @media (min-width: 768px) {
      #homepage #banner .wrapper-four-box .box-item {
        width: 25%; } }
    @media (min-width: 992px) {
      #homepage #banner .wrapper-four-box .box-item {
        width: 50%;
        height: 50%; } }
    @media (min-width: 1200px) {
      #homepage #banner .wrapper-four-box .box-item {
        padding: 25px 30px; }
        #homepage #banner .wrapper-four-box .box-item:hover:after {
          opacity: 0.2; } }
    @media (min-width: 768px) {
      #homepage #banner .wrapper-four-box .box-item:nth-child(3) {
        order: 4; } }
    @media (min-width: 992px) {
      #homepage #banner .wrapper-four-box .box-item:nth-child(3) {
        order: initial; } }
    #homepage #banner .wrapper-four-box .box-item:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      display: block;
      background: #000000;
      opacity: 0;
      transition: all .4s ease; }
    #homepage #banner .wrapper-four-box .box-item a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 4; }
    #homepage #banner .wrapper-four-box .box-item h3 {
      font-weight: 700; }
      @media (min-width: 1200px) {
        #homepage #banner .wrapper-four-box .box-item h3 {
          font-size: 18px;
          position: relative;
          z-index: 3; } }
    #homepage #banner .wrapper-four-box .box-item span {
      font-size: 16px;
      display: block;
      font-weight: 700; }
    #homepage #banner .wrapper-four-box .box-item img {
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 90px;
      object-fit: contain; }
      @media (min-width: 992px) {
        #homepage #banner .wrapper-four-box .box-item img {
          bottom: 0;
          height: 85px; } }
      @media (min-width: 1200px) {
        #homepage #banner .wrapper-four-box .box-item img {
          height: auto; } }

#homepage #highlight-combo {
  padding: 50px 0 40px 0; }
  #homepage #highlight-combo h2 {
    margin-bottom: 15px; }
    @media (min-width: 992px) {
      #homepage #highlight-combo h2 {
        margin-bottom: 30px; } }
  #homepage #highlight-combo .slick-arrow {
    position: absolute;
    top: calc(50% - 30px);
    transform: translateY(-50%);
    z-index: 2;
    background-color: transparent;
    border: none; }
    #homepage #highlight-combo .slick-arrow img {
      width: 40px; }
    #homepage #highlight-combo .slick-arrow.slick-prev {
      left: -50px; }
    #homepage #highlight-combo .slick-arrow.slick-next {
      right: -50px; }
  #homepage #highlight-combo .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    #homepage #highlight-combo .slick-dots li {
      margin: 0 10px; }
      @media (min-width: 992px) {
        #homepage #highlight-combo .slick-dots li {
          margin: 0 5px; } }
      #homepage #highlight-combo .slick-dots li.slick-active button {
        width: 35px;
        border-radius: 20px;
        background-image: linear-gradient(to bottom, #d8ea62, #97c93b, #afd133); }
      #homepage #highlight-combo .slick-dots li button {
        width: 13px;
        height: 13px;
        background-color: #a6a89d;
        border: none;
        color: transparent;
        border-radius: 50%; }
        @media (min-width: 992px) {
          #homepage #highlight-combo .slick-dots li button {
            width: 10px;
            height: 10px; } }
  #homepage #highlight-combo .slider {
    width: calc(100% - 90px);
    margin-left: 45px; }
    @media (min-width: 1200px) {
      #homepage #highlight-combo .slider {
        width: 100%;
        margin-left: 0; } }
  #homepage #highlight-combo .course-item {
    padding: 0 15px 10px; }
    @media (min-width: 992px) {
      #homepage #highlight-combo .course-item {
        margin: 0 15px 20px; } }
    @media (min-width: 992px) {
      #homepage #highlight-combo .course-item .info h3 {
        padding: 0; } }
    #homepage #highlight-combo .course-item .wrapper {
      display: block; }
      #homepage #highlight-combo .course-item .wrapper .img {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: 15px; }
        @media (min-width: 992px) {
          #homepage #highlight-combo .course-item .wrapper .img {
            margin-bottom: 0; } }
        #homepage #highlight-combo .course-item .wrapper .img img {
          border-radius: 5px 5px 0 0; }
      #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style {
        width: 100%; }
        @media (min-width: 992px) {
          #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style {
            width: calc(100% - 10px);
            margin-left: 5px; } }
        #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style .tag-rating {
          justify-content: left; }
          @media (min-width: 992px) {
            #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style .tag-rating {
              border-color: #7ed321; } }
          #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style .tag-rating .tag {
            color: #7ed321;
            margin-right: 10px; }
            @media (min-width: 992px) {
              #homepage #highlight-combo .course-item .wrapper .wrapper-mb-style .tag-rating .tag {
                color: #ffffff;
                background-color: #7ed321; } }

#homepage #content h2 {
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    #homepage #content h2 {
      margin-bottom: 30px; } }

#homepage #content .category {
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    #homepage #content .category {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px; } }
  #homepage #content .category .item {
    border-radius: 10px;
    background-image: linear-gradient(239deg, #6de0fd, #3bbdf9);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 5px;
    min-height: 56px;
    cursor: pointer; }
    @media (min-width: 992px) {
      #homepage #content .category .item {
        width: calc(14.28% - 9px);
        margin: 0 10px 0 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start; } }
    @media (min-width: 1200px) {
      #homepage #content .category .item {
        background-image: none;
        transition: all .5s ease;
        border-radius: 20px;
        border: solid 1px #d8d8d8;
        margin-right: 20px;
        width: calc(14.28% - 18px); }
        #homepage #content .category .item:hover {
          background-image: linear-gradient(239deg, #6de0fd, #3bbdf9);
          border-color: #6de0fd; }
          #homepage #content .category .item:hover .wrapper .text {
            color: #ffffff; }
          #homepage #content .category .item:hover .wrapper .ico-moon:before, #homepage #content .category .item:hover .wrapper .path1:before, #homepage #content .category .item:hover .wrapper .path2:before, #homepage #content .category .item:hover .wrapper path3:before {
            color: #ffffff; } }
    @media (min-width: 992px) {
      #homepage #content .category .item:last-child {
        margin-right: 0; } }
    #homepage #content .category .item .wrapper {
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 992px) {
        #homepage #content .category .item .wrapper {
          display: block;
          text-align: center; } }
    #homepage #content .category .item .ico-moon {
      font-size: 20px;
      margin-right: 10px; }
      @media (min-width: 992px) {
        #homepage #content .category .item .ico-moon {
          margin: 0 0 10px 0;
          font-size: 35px;
          display: block; } }
      @media (min-width: 1200px) {
        #homepage #content .category .item .ico-moon {
          font-size: 45px; } }
      #homepage #content .category .item .ico-moon:before {
        color: #ffffff; }
        @media (min-width: 1200px) {
          #homepage #content .category .item .ico-moon:before {
            color: #00b2ff;
            transition: all .3s ease; } }
    #homepage #content .category .item .text {
      font-weight: 700; }
      @media (min-width: 992px) {
        #homepage #content .category .item .text {
          width: 100%;
          text-align: center; } }
      @media (min-width: 1200px) {
        #homepage #content .category .item .text {
          color: #00b2ff;
          transition: all .3s ease; } }

#homepage #content .search {
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    #homepage #content .search {
      margin-bottom: 40px; } }
  #homepage #content .search .form {
    position: relative; }
    @media (min-width: 992px) {
      #homepage #content .search .form {
        width: 580px;
        margin: auto; } }
    #homepage #content .search .form input {
      width: 100%;
      border-radius: 25px;
      border: 1px solid #dddddd;
      padding: 15px 45px 13px 20px; }
    #homepage #content .search .form button {
      position: absolute;
      right: 20px;
      top: 15px;
      background: transparent;
      border: none; }

#homepage #post {
  padding: 50px 0 50px 0; }
  #homepage #post h2 {
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      #homepage #post h2 {
        margin-bottom: 30px; } }
    @media (min-width: 1200px) {
      #homepage #post h2 {
        margin-bottom: 40px; } }
  #homepage #post .large-item {
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(202, 202, 202, 0.5);
    border: solid 1px #dddddd;
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      #homepage #post .large-item {
        height: 100%;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      #homepage #post .large-item img {
        height: 205px;
        object-fit: cover; } }
    #homepage #post .large-item h3 {
      font-size: 18px;
      font-weight: 700;
      padding: 0 15px;
      margin-top: 20px; }
      @media (min-width: 992px) {
        #homepage #post .large-item h3 {
          font-size: 24px; } }
    #homepage #post .large-item p {
      color: #666666;
      margin: 10px 0;
      padding: 0 15px; }
    #homepage #post .large-item a {
      color: #333333;
      text-decoration: underline;
      margin-right: 15px; }
      #homepage #post .large-item a:hover {
        color: #5AA252; }
      #homepage #post .large-item a i {
        margin-left: 5px; }
  @media (min-width: 768px) {
    #homepage #post .right ul {
      display: flex;
      flex-wrap: wrap; } }
  #homepage #post .right ul li {
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(202, 202, 202, 0.5);
    border: solid 1px #dddddd;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    @media (min-width: 768px) {
      #homepage #post .right ul li {
        width: calc(33.33% - 10px);
        display: block;
        margin-bottom: 0;
        padding-bottom: 20px; } }
    @media (min-width: 992px) {
      #homepage #post .right ul li {
        width: 100%;
        margin-bottom: 20px; } }
    @media (min-width: 1200px) {
      #homepage #post .right ul li {
        display: flex;
        padding-bottom: 0;
        box-shadow: none;
        align-items: center; }
        #homepage #post .right ul li:hover h4 {
          color: #5AA252; } }
    @media (min-width: 768px) {
      #homepage #post .right ul li:nth-child(2) {
        margin: 0 15px; } }
    @media (min-width: 992px) {
      #homepage #post .right ul li:nth-child(2) {
        margin: 0 0 20px 0; } }
    #homepage #post .right ul li:last-child {
      margin-bottom: 0; }
    #homepage #post .right ul li img {
      width: 120px;
      height: 120px;
      object-fit: cover; }
      @media (min-width: 768px) {
        #homepage #post .right ul li img {
          width: 100%; } }
      @media (min-width: 1200px) {
        #homepage #post .right ul li img {
          width: 120px; } }
    #homepage #post .right ul li h4 {
      width: calc(100% - 120px);
      margin-top: 20px;
      padding: 0 20px;
      font-weight: 700;
      font-size: 16px;
      transition: all .4s ease; }
      @media (min-width: 768px) {
        #homepage #post .right ul li h4 {
          width: 100%; } }
      @media (min-width: 992px) {
        #homepage #post .right ul li h4 {
          font-size: 18px; } }
      @media (min-width: 1200px) {
        #homepage #post .right ul li h4 {
          width: calc(100% - 120px);
          margin-top: 0; } }
    #homepage #post .right ul li a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }

#shop-details-page .stars i {
  color: #ffe332;
  font-size: 15px;
  margin-right: 5px; }
  #shop-details-page .stars i:last-child {
    margin-right: 0; }
  #shop-details-page .stars i.disable-active {
    color: #d8d8d8; }

#shop-details-page h4 {
  color: #1cd1ff;
  font-weight: 700;
  font-size: 20px;
  text-align: center; }
  @media (min-width: 992px) {
    #shop-details-page h4 {
      font-size: 24px;
      text-align: left; } }

@media (min-width: 992px) {
  #shop-details-page #banner {
    background-image: url("../images/monkey.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #ffffff;
    padding: 20px 0 120px;
    border-radius: 0 0 20px 20px;
    overflow: hidden; }
    #shop-details-page #banner:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #003346;
      opacity: 0.5; } }

@media (min-width: 1200px) {
  #shop-details-page #banner {
    padding-bottom: 200px; } }

@media (min-width: 992px) {
  #shop-details-page #banner h1 {
    font-weight: 700;
    font-size: 28px; } }

@media (min-width: 1200px) {
  #shop-details-page #banner h1 {
    font-size: 35px; } }

@media (min-width: 992px) {
  #shop-details-page #banner .img-banner {
    position: absolute;
    left: 0;
    top: 0;
    -ms-filter: blur(7px);
    filter: blur(7px);
    height: 100%;
    object-fit: cover; } }

@media (min-width: 992px) {
  #shop-details-page #banner .container {
    position: relative;
    z-index: 2; } }

@media (min-width: 992px) {
  #shop-details-page #banner .name {
    align-items: center;
    margin: 25px 0 15px; } }

@media (min-width: 992px) {
  #shop-details-page #banner .name .tag {
    border-radius: 23px;
    background-color: #1cd1ff;
    font-size: 16px;
    width: 120px;
    text-align: center;
    padding: 7px 0;
    margin-right: 15px; } }

#shop-details-page #banner .name .amount-buy {
  color: #333333; }
  @media (min-width: 992px) {
    #shop-details-page #banner .name .amount-buy {
      color: #ffffff; } }

#shop-details-page #banner .name .author {
  padding: 0 15px;
  margin: 0 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }

@media (min-width: 992px) {
  #shop-details-page #banner .description {
    display: flex !important; } }

@media (min-width: 992px) {
  #shop-details-page #banner .description span {
    margin-right: 25px; } }

#shop-details-page #banner .breadcrumb-line {
  color: #666666;
  padding: 12px 15px 10px;
  background-color: #f1f1f1;
  width: calc(100% + 30px);
  margin-left: -15px; }
  @media (min-width: 992px) {
    #shop-details-page #banner .breadcrumb-line {
      background: transparent;
      color: #ffffff;
      opacity: 0.8; } }
  #shop-details-page #banner .breadcrumb-line a {
    color: #666666; }
    @media (min-width: 992px) {
      #shop-details-page #banner .breadcrumb-line a {
        color: #ffffff; } }
    #shop-details-page #banner .breadcrumb-line a:hover {
      text-decoration: underline; }
  #shop-details-page #banner .breadcrumb-line span {
    display: inline-block;
    margin: 0 5px; }

@media (min-width: 992px) {
  #shop-details-page #video {
    margin-top: -100px; } }

@media (min-width: 1200px) {
  #shop-details-page #video {
    margin-top: -160px; } }

#shop-details-page #video .video {
  width: calc(100% + 30px);
  margin-left: -15px; }
  @media (min-width: 992px) {
    #shop-details-page #video .video .wrapper-video {
      border-radius: 25px;
      overflow: hidden; } }
  #shop-details-page #video .video .wrapper-video .wrapper-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2; }
  #shop-details-page #video .video .wrapper-video .img {
    display: block;
    position: relative; }
    #shop-details-page #video .video .wrapper-video .img:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0)); }
  #shop-details-page #video .video .description {
    padding: 0 0 20px 15px;
    margin: 20px 0; }
    #shop-details-page #video .video .description h1 {
      font-weight: 700;
      font-size: 18px; }
    #shop-details-page #video .video .description span {
      font-size: 16px;
      color: #888888;
      margin: 10px 0 5px;
      display: inline-block; }
      #shop-details-page #video .video .description span.author {
        border-right: 1px solid #888888;
        padding-right: 10px;
        margin-right: 6px; }

#shop-details-page #video .box-buy-course {
  box-shadow: 0 20px 50px 0 #d9d9d9;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9; }
  @media (min-width: 992px) {
    #shop-details-page #video .box-buy-course {
      border-radius: 20px;
      position: static;
      width: 400px;
      margin-left: 50px; } }
  @media (min-width: 992px) {
    #shop-details-page #video .box-buy-course.is-fixed {
      position: fixed;
      top: 100px;
      left: initial;
      background: #ffffff;
      z-index: 9;
      bottom: initial; } }
  @media (min-width: 992px) and (min-width: 992px) {
    #shop-details-page #video .box-buy-course.is-fixed .tag {
      display: flex !important;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 992px) and (min-width: 992px) {
    #shop-details-page #video .box-buy-course.is-fixed h3 {
      display: block !important; } }
  #shop-details-page #video .box-buy-course .tag {
    display: none !important; }
    @media (min-width: 992px) {
      #shop-details-page #video .box-buy-course .tag {
        border-radius: 23px;
        color: #ffffff;
        width: calc(100% - 80px);
        text-align: center;
        position: absolute;
        top: -17px;
        left: 40px;
        border: 1px solid #1cd1ff;
        border-left: 30px;
        overflow: hidden;
        background: #ffffff; }
        #shop-details-page #video .box-buy-course .tag .text {
          background-color: #1cd1ff;
          padding: 10px 0;
          width: 130px;
          text-align: center;
          font-weight: 700; }
        #shop-details-page #video .box-buy-course .tag .amount-buy {
          color: #666666;
          margin-right: 25px; } }
  #shop-details-page #video .box-buy-course h3 {
    display: none !important; }
    @media (min-width: 992px) {
      #shop-details-page #video .box-buy-course h3 {
        font-weight: 700;
        font-size: 20px;
        margin: 50px 0 0 0;
        text-align: center; } }
  #shop-details-page #video .box-buy-course .form .control-show-list-package {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-bottom: 1px solid #dddddd; }
    #shop-details-page #video .box-buy-course .form .control-show-list-package.is-showed i {
      transform: rotate(180deg); }
    #shop-details-page #video .box-buy-course .form .control-show-list-package span {
      font-weight: 700; }
    #shop-details-page #video .box-buy-course .form .control-show-list-package i {
      color: #666666;
      font-size: 20px;
      transition: all .5s ease;
      transform: rotate(0deg); }
  #shop-details-page #video .box-buy-course .form ul {
    padding: 15px 15px 7px 15px;
    display: none; }
    @media (min-width: 992px) {
      #shop-details-page #video .box-buy-course .form ul {
        padding-bottom: 0;
        display: block; } }
    #shop-details-page #video .box-buy-course .form ul li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 15px;
      padding-bottom: 10px; }
      @media (min-width: 768px) {
        #shop-details-page #video .box-buy-course .form ul li {
          font-size: 16px; } }
      @media (min-width: 992px) {
        #shop-details-page #video .box-buy-course .form ul li {
          padding: 15px 15px 11px 15px; } }
      #shop-details-page #video .box-buy-course .form ul li:last-child {
        border-bottom: none;
        padding-bottom: 5px;
        margin-bottom: 0; }
        @media (min-width: 992px) {
          #shop-details-page #video .box-buy-course .form ul li:last-child {
            padding-bottom: 11px; } }
      #shop-details-page #video .box-buy-course .form ul li input {
        margin-right: 10px; }
      #shop-details-page #video .box-buy-course .form ul li label {
        margin-bottom: 0;
        cursor: pointer;
        position: relative;
        top: -5px; }
        @media (min-width: 992px) {
          #shop-details-page #video .box-buy-course .form ul li label {
            margin: 0 0 0 10px; } }
      #shop-details-page #video .box-buy-course .form ul li .price {
        display: flex;
        justify-content: space-between;
        width: 50%; }
        @media (min-width: 992px) {
          #shop-details-page #video .box-buy-course .form ul li .price {
            justify-content: flex-end; } }
        #shop-details-page #video .box-buy-course .form ul li .price .origin-price {
          font-size: 12px;
          color: #888888;
          text-decoration: line-through; }
          @media (min-width: 768px) {
            #shop-details-page #video .box-buy-course .form ul li .price .origin-price {
              font-size: 14px; } }
        #shop-details-page #video .box-buy-course .form ul li .price .promotion-price {
          font-size: 16px;
          color: #ff3f7c;
          font-weight: 700; }
          @media (min-width: 992px) {
            #shop-details-page #video .box-buy-course .form ul li .price .promotion-price {
              margin-left: 50px; } }
  #shop-details-page #video .box-buy-course .form button {
    width: 100%;
    background-image: linear-gradient(to right, #fe5a75, #fd9266);
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: none; }
    @media (min-width: 992px) {
      #shop-details-page #video .box-buy-course .form button {
        width: calc(100% - 30px);
        margin: 20px 0 20px 15px;
        border-radius: 50px; } }

#shop-details-page #info-teacher a {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  display: inline-block;
  margin-bottom: 50px;
  text-decoration: underline; }

#shop-details-page #info-teacher .wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0; }
  @media (min-width: 992px) {
    #shop-details-page #info-teacher .wrapper {
      margin: 40px 0 30px; } }
  #shop-details-page #info-teacher .wrapper .img img {
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  #shop-details-page #info-teacher .wrapper span {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px; }

#shop-details-page #info-teacher p {
  margin-bottom: 10px; }

#shop-details-page #intro h4 {
  margin: 50px 0 30px; }

#shop-details-page #intro .devices .img {
  margin: 15px 0; }

#shop-details-page #intro .description p {
  margin-bottom: 10px; }

#shop-details-page #intro .description a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  color: #333333;
  margin-bottom: 50px;
  display: inline-block; }

#shop-details-page #slider-images h4 {
  margin: 50px 0 20px; }

#shop-details-page #slider-images .slider-large-images {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    #shop-details-page #slider-images .slider-large-images .slick-slide img {
      border-radius: 15px; } }
  #shop-details-page #slider-images .slider-large-images .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    border: none; }
    #shop-details-page #slider-images .slider-large-images .slick-arrow.slick-prev {
      left: 20px; }
    #shop-details-page #slider-images .slider-large-images .slick-arrow.slick-next {
      right: 20px; }
    @media (min-width: 992px) {
      #shop-details-page #slider-images .slider-large-images .slick-arrow img {
        width: 40px; } }

#shop-details-page #slider-images .slider-small-images {
  width: calc(100% + 30px);
  margin-left: -15px; }
  #shop-details-page #slider-images .slider-small-images .slick-slide {
    margin: 0 5px;
    position: relative; }
    #shop-details-page #slider-images .slider-small-images .slick-slide img {
      border-radius: 5px;
      cursor: pointer; }
  #shop-details-page #slider-images .slider-small-images .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    border: none; }
    #shop-details-page #slider-images .slider-small-images .slick-arrow i {
      color: #ffffff;
      font-size: 20px; }
    #shop-details-page #slider-images .slider-small-images .slick-arrow.slick-prev {
      left: 5px; }
    #shop-details-page #slider-images .slider-small-images .slick-arrow.slick-next {
      right: 5px; }

@media (min-width: 992px) {
  #shop-details-page #comment h4 {
    margin: 60px 0 20px; } }

@media (min-width: 992px) {
  #shop-details-page #comment .left {
    padding-left: 50px; } }

#shop-details-page #comment .left .wrapper-flex {
  display: flex; }
  @media (min-width: 992px) {
    #shop-details-page #comment .left .wrapper-flex {
      display: block; } }

#shop-details-page #comment .left .wrapper {
  justify-content: space-between;
  align-items: center;
  width: 125px;
  display: inline-block;
  align-items: center; }
  @media (min-width: 992px) {
    #shop-details-page #comment .left .wrapper {
      flex-wrap: wrap;
      width: 100%; } }

#shop-details-page #comment .left .point {
  font-size: 30px;
  color: #ff3f7c;
  font-weight: 700;
  margin-top: 25px; }
  #shop-details-page #comment .left .point span {
    font-size: 24px; }

@media (min-width: 992px) {
  #shop-details-page #comment .left .amount {
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    color: #888888; } }

#shop-details-page #comment .left .list-rates {
  width: calc(100% - 140px);
  margin-left: 15px; }
  @media (min-width: 992px) {
    #shop-details-page #comment .left .list-rates {
      width: 100%;
      margin-left: 0;
      margin-top: 20px; } }
  #shop-details-page #comment .left .list-rates li {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    font-size: 15px;
    align-items: center; }
    @media (min-width: 992px) {
      #shop-details-page #comment .left .list-rates li {
        color: #888888;
        margin-bottom: 20px; } }
    #shop-details-page #comment .left .list-rates li:last-child {
      margin-bottom: 0; }
    #shop-details-page #comment .left .list-rates li span {
      width: 38px; }
      #shop-details-page #comment .left .list-rates li span:nth-child(2) {
        height: 10px;
        display: inline-block;
        border: 1px solid #7ed321;
        position: relative;
        width: calc(100% - 86px);
        margin: 0 5px; }
        @media (min-width: 992px) {
          #shop-details-page #comment .left .list-rates li span:nth-child(2) {
            height: 25px;
            width: calc(100% - 96px);
            margin: 0 15px; } }
        #shop-details-page #comment .left .list-rates li span:nth-child(2) span {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: #7ed321; }
      #shop-details-page #comment .left .list-rates li span:last-child {
        color: #888888; }

#shop-details-page #comment .left .share-comment {
  text-align: center;
  border: solid 1px #dddddd;
  padding: 20px;
  margin: 30px 0;
  border-radius: 10px; }
  @media (min-width: 992px) {
    #shop-details-page #comment .left .share-comment {
      padding: 30px;
      margin: 40px 0 0;
      border-radius: 20px; } }
  #shop-details-page #comment .left .share-comment h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      #shop-details-page #comment .left .share-comment h5 {
        font-size: 18px; } }
  #shop-details-page #comment .left .share-comment a {
    border-radius: 22.5px;
    border: solid 1px #1cd1ff;
    background-color: #ffffff;
    display: inline-block;
    width: calc(100% - 60px);
    text-align: center;
    color: #1cd1ff;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px; }
    #shop-details-page #comment .left .share-comment a:hover {
      color: #ffffff;
      background: #1cd1ff; }

#shop-details-page #comment .right .pagination-line {
  margin: 20px 0 40px; }

#shop-details-page #comment .right h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0; }

#shop-details-page #comment .right ul.list-comments li {
  font-size: 16px;
  border: 1px solid #dddddd;
  padding: 20px 20px 50px 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px; }
  @media (min-width: 992px) {
    #shop-details-page #comment .right ul.list-comments li {
      padding: 20px;
      border-radius: 20px; } }
  #shop-details-page #comment .right ul.list-comments li:last-child {
    margin-bottom: 0; }
  #shop-details-page #comment .right ul.list-comments li .name-date {
    display: flex;
    justify-content: space-between;
    margin: 15px 0; }
    #shop-details-page #comment .right ul.list-comments li .name-date .name {
      font-weight: 700;
      color: #000000; }
    #shop-details-page #comment .right ul.list-comments li .name-date .date {
      color: #888888;
      position: absolute;
      bottom: 10px;
      right: 20px; }
      @media (min-width: 992px) {
        #shop-details-page #comment .right ul.list-comments li .name-date .date {
          position: static; } }

#shop-details-page #relevant-app {
  margin-bottom: 100px; }
  @media (min-width: 992px) {
    #shop-details-page #relevant-app {
      margin-bottom: 0; } }
  #shop-details-page #relevant-app h4 {
    margin-bottom: 30px; }
  #shop-details-page #relevant-app .stars i {
    font-size: inherit;
    margin-right: 5px; }
    @media (max-width: 320px) {
      #shop-details-page #relevant-app .stars i {
        font-size: 12px;
        margin-right: 0; } }

#shop-details-page #just-mobile {
  width: calc(100% - 30px);
  margin-left: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(173, 173, 173, 0.5); }
  #shop-details-page #just-mobile ul {
    padding: 15px 15px 7px 15px; }
    @media (min-width: 992px) {
      #shop-details-page #just-mobile ul {
        padding-bottom: 0; } }
    #shop-details-page #just-mobile ul li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 15px;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 15px; }
      @media (min-width: 768px) {
        #shop-details-page #just-mobile ul li {
          font-size: 16px; } }
      #shop-details-page #just-mobile ul li:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 5px; }
        @media (min-width: 992px) {
          #shop-details-page #just-mobile ul li:last-child {
            padding-bottom: 11px;
            border-bottom: 2px solid #dddddd; } }
      #shop-details-page #just-mobile ul li input {
        margin-right: 10px; }
      #shop-details-page #just-mobile ul li label {
        margin-bottom: 0;
        cursor: pointer;
        position: relative;
        top: -5px; }
      #shop-details-page #just-mobile ul li .price {
        display: flex;
        justify-content: space-between;
        width: 50%; }
        #shop-details-page #just-mobile ul li .price .origin-price {
          font-size: 12px;
          color: #888888;
          text-decoration: line-through; }
          @media (min-width: 768px) {
            #shop-details-page #just-mobile ul li .price .origin-price {
              font-size: 14px; } }
        #shop-details-page #just-mobile ul li .price .promotion-price {
          font-size: 16px;
          color: #ff3f7c;
          font-weight: 700; }
