@font-face {
  font-family: 'SVN-ProductSans';
  src: url('../fonts/SVN-ProductSans.eot');
  src: url('../fonts/SVN-ProductSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SVN-ProductSans.woff2') format('woff2'),
  url('../fonts/SVN-ProductSans.woff') format('woff'),
  url('../fonts/SVN-ProductSans.ttf') format('truetype'),
  url('../fonts/SVN-ProductSans.svg#svgFontName') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'SVN-ProductSans';
  src: url('../fonts/SVN-ProductSansBold.eot');
  src: url('../fonts/SVN-ProductSansBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SVN-ProductSansBold.woff2') format('woff2'),
  url('../fonts/SVN-ProductSansBold.woff') format('woff'),
  url('../fonts/SVN-ProductSansBold.ttf') format('truetype'),
  url('../fonts/SVN-ProductSansBold.svg#svgFontName') format('svg');
  font-weight: 700;
}
