<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Details</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="wrapper">
                <div class="logo">
                    <a href="/" class="d-inline-block">
                        <img class="img-fluid" src="../images/logo.svg" alt="">
                    </a>
                    <div class="lines control-menu-mb d-sm-none">
                        <div class="d-inline-block text">Tuỳ chọn</div>
                        <div>
                            <span class="lines__first"></span>
                            <span class="lines__second"></span>
                            <span class="lines__last"></span>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <img style="margin-right: 5px;width: 40px" class="d-inline-block" src="../images/avatar.png" alt="">
                            <span style="font-weight: 700;">Nguyễn Minh Tinh</span>
                        </li>
                        <li>
                            <a class="register-btn" href="#"><img class="d-lg-none" src="../images/icon-vao-hoc.svg" alt="">Vào học</a>
                        </li>
                        <li>
                            <a class="login-btn" href="#"><img class="d-lg-none" src="../images/key.svg" alt="">Đăng nhập</a>
                        </li>
                        <li>
                            <a class="active-btn" href="#"><img class="d-lg-none" src="../images/log-in.svg" alt="">Kích hoạt COD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main id="shop-details-page">
        <section id="banner">
            <img class="img-fluid w-100 img-banner d-none d-lg-block" src="../images/monkey-banner.png" alt="">
            <div class="container">
                <div class="breadcrumb-line">
                    <a href="/">Trang chủ</a>
                    <span class="icon">»</span>
                    <b>Bé giỏi Toán cùng Fingermath & Soroban</b>
                </div>
                <div class="name d-none d-lg-flex">
                    <div class="tag">Ứng dụng</div>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                    </div>
                    <span class="author">Early Start</span>
                    <span class="amount-buy"><b>1.502</b> người đã mua</span>

                </div>
                <h1 class="d-none d-lg-block">Bé giỏi Toán cùng Fingermath & Soroban</h1>
            </div>
        </section>
        <section id="video">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <div class="video">
                            <div class="wrapper-video">
                                <a class="link-video" href="https://www.youtube.com/embed/fdUUS9_5-eM?ecver=2&autoplay=1">
                                    <span class="wrapper-button">
                                        <img style="width: 50px;" src="../images/icon-play-yotube.svg" alt="">
                                        <span style="width: 100%;display: block">Xem bài học mẫu</span>
                                    </span>
                                    <span class="img">
                                        <img class="img-thumb img-fluid w-100" src="../images/slider-1.png" alt="">
                                    </span>
                                </a>
                                <div class="show-video"></div>
                            </div>
                            <div class="description d-lg-none">
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                </div>
                                <span class="author">Early Start</span>
                                <span style="color: #333333;"><b>1.502</b> người đã mua</span>
                                <h1>Kể chuyện tương tác - VNMonkey</h1>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="box-buy-course">
                            <div class="tag d-none d-lg-block">
                                <span class="text">Ứng dụng</span>
                                <span class="amount-buy"><b>1.502</b> người đã mua</span>
                            </div>
                            <h3 class="d-none d-lg-block">Bé giỏi Toán cùng Fingermath & Soroban</h3>
                            <form class="form">
                                <div class="d-lg-none control-show-list-package">
                                    <span>Chọn thời hạn học</span>
                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                </div>
                                <ul>
                                    <li class="is-selected">
                                        <div>
                                            <input type="radio" name="time" id="one-month" checked>
                                            <label for="one-month">Học 1 tháng</label>
                                        </div>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <input type="radio" name="time" id="one-year">
                                            <label for="one-year">Học 1 năm</label>
                                        </div>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <input type="radio" name="time" id="six-month">
                                            <label for="six-month">Học 6 tháng</label>
                                        </div>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                </ul>
                                <button>MUA NGAY</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-lg-none" id="just-mobile">
            <ul class="d-none">
                <li class="is-selected">
                    <div>
                        <label for="one-month">Học 1 tháng</label>
                    </div>
                    <div class="price">
                        <div class="origin-price">8.000đ</div>
                        <div class="promotion-price">8.000đ</div>
                    </div>
                </li>
                <li>
                    <div>
                        <label for="one-year">Học 1 năm</label>
                    </div>
                    <div class="price">
                        <div class="origin-price">8.000đ</div>
                        <div class="promotion-price">8.000đ</div>
                    </div>
                </li>
                <li>
                    <div>
                        <label for="six-month">Học 6 tháng</label>
                    </div>
                    <div class="price">
                        <div class="origin-price">8.000đ</div>
                        <div class="promotion-price">8.000đ</div>
                    </div>
                </li>
            </ul>
            <form class="form">
                <ul>
                    <li class="is-selected">
                        <div>
                            <input type="radio" name="time" id="one-month-mb" checked>
                            <label for="one-month-mb">Học 1 tháng</label>
                        </div>
                        <div class="price">
                            <div class="origin-price">8.000đ</div>
                            <div class="promotion-price">8.000đ</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="radio" name="time" id="one-year-mb">
                            <label for="one-year-mb">Học 1 năm</label>
                        </div>
                        <div class="price">
                            <div class="origin-price">8.000đ</div>
                            <div class="promotion-price">8.000đ</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="radio" name="time" id="six-month-mb">
                            <label for="six-month-mb">Học 6 tháng</label>
                        </div>
                        <div class="price">
                            <div class="origin-price">8.000đ</div>
                            <div class="promotion-price">8.000đ</div>
                        </div>
                    </li>
                </ul>
            </form>
        </section>
        <section id="slider-images">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <h4>Hình ảnh ứng dụng</h4>
                        <div class="slider-large-images">
                            <div class="item"><img class="img-fluid" src="../images/slider-1.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-2.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-3.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-4.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-5.png" alt=""></div>
                        </div>
                        <div class="slider-small-images">
                            <div class="item"><img class="img-fluid" src="../images/slider-1.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-2.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-3.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-4.png" alt=""></div>
                            <div class="item"><img class="img-fluid" src="../images/slider-5.png" alt=""></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <h4>Giới thiệu ứng dụng</h4>
                        <div class="devices">
                            <p>
                                Ứng dụng có thể cài đặt, sử dụng trên: <br>
                                <b>Máy tính Windows/MacOS, iOS, Android</b>
                            </p>
                            <div class="img">
                                <img class="img-fluid" src="../images/ios-android.png" alt="">
                            </div>
                        </div>
                        <div class="description">
                            <p>Dạy con tự lập ngay từ khi trẻ còn nhỏ là điều rất cần thiết, phù hợp với sự phát triển của Thế giới và Việt Nam. Khi có tính tự lập, trẻ có thể tự làm mọi công việc của mình một cách tốt nhất mà không lệ thuộc, dựa dẫm vào sự giúp đỡ của người khác. Đây chính là những nền tảng cho sự thành công của trẻ về sau.</p>
                            <p>Theo Nhà báo, Nhà giáo dục Trần Thu Hà (Mẹ Xu Sim), dạy con tự lập giúp cho phụ huynh có nhiều thời gian cho chính bản thân mình, giảm căng thẳng, cũng như cho con cơ hội được phát triển toàn diện, biết có trách nhiệm cho cuộc sống của mình.</p>
                            <p>Cho con tự lập không phải là hết yêu thương con, mà chính là can đảm để con tự đúng trên đôi chân của mình, giúp con cất cánh bay cao trên con đường sự nghiệp và thành công về sau của con.</p>
                            <p>
                                Bạn muốn biết phương pháp giúp con tự lập, nhưng bạn vẫn còn băn khoăn:
                                Con còn ỷ lại và nhờ vã mình quá nhiều, liệu cho con tự lập có khả thi?
                                Tự lập có phải là buông lơ con, không cần quan tâm đến con?
                                Để có phương pháp cho con tự lập, nên bắt đầu từ đâu?
                                Làm sao để con tự giác và tự lập trong các sinh hoạt và học tập hằng ngày
                                Với Dạy con tự lập cùng mẹ Xu Sim của Nhà báo, Nhà giáo dục Trần Thu Hà, bạn sẽ nắm vững phương pháp giúp con tự lập.
                            </p>
                            <div class="text-center"><a href="javascript:">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="info-teacher">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <h4>Đơn vị cung cấp Ứng dụng</h4>
                        <div class="wrapper">
                            <div class="img"><img src="../images/avatar.png" alt=""></div>
                            <span>Early Stars</span>
                        </div>
                        <div class="wrapper-des">
                            <p>Monkey Junior là ứng dụng học tập sáng tạo giành cho trẻ em được công nhận hiệu quả trên toàn thế giới:</p>
                            <p>Giải Nhất cuộc thi Sáng Kiến Toàn Cầu tại Silicon Valley do tổng thống Mỹ Barack Obama chủ trì với hơn 1000 đội đến từ hơn 100 quốc gia khác nhau.</p>
                            <p>Giải Nhất về thiết kế tại cuộc thi Khởi Nghiệp Châu Á - AEA tại Tokyo 2016. Được sự tin tưởng của trên 1 triệu bố mẹ trên toàn thế giới.</p>
                            <p>Top 1 chương trình học đọc trên App Store và Google Play.</p>
                            <p>Top 1 ứng dụng giáo dục cho trẻ em được tải nhiều nhất ở Việt Nam và Top 20 ở Mỹ.</p>
                        </div>
                        <div class="text-center d-lg-none"><a href="javascript:">Xem thêm</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="comment">
            <div class="container">
                <h4>Đánh giá của học viên <span style="font-weight: 400;" class="d-lg-none">(25 lượt)</span></h4>
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <div class="right">
                            <h5>Đánh giá (12)</h5>
                            <ul class="list-comments">
                                <li>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                    </div>
                                    <div class="name-date">
                                        <span class="name">David Bẹc Giê</span>
                                        <span class="date">23:00’ 12/12/2019</span>
                                    </div>
                                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</p>
                                </li>
                                <li>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                    </div>
                                    <div class="name-date">
                                        <span class="name">David Bẹc Giê</span>
                                        <span class="date">23:00’ 12/12/2019</span>
                                    </div>
                                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</p>
                                </li>
                                <li>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                    </div>
                                    <div class="name-date">
                                        <span class="name">David Bẹc Giê</span>
                                        <span class="date">23:00’ 12/12/2019</span>
                                    </div>
                                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</p>
                                </li>
                            </ul>
                            <div class="pagination-line">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="left">
                            <div class="wrapper-flex">
                                <div class="wrapper">
                                    <div class="point">4.5 / <span>5.0</span></div>
                                    <div class="amount d-none d-lg-block">25 đánh giá</div>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <ul class="list-rates">
                                    <li>
                                        <span>5 sao</span>
                                        <span><span style="width: 80%;"></span></span>
                                        <span>80%</span>
                                    </li>
                                    <li>
                                        <span>4 sao</span>
                                        <span><span style="width: 100%;"></span></span>
                                        <span>100%</span>
                                    </li>
                                    <li>
                                        <span>3 sao</span>
                                        <span><span style="width: 50%;"></span></span>
                                        <span>50%</span>
                                    </li>
                                    <li>
                                        <span>2 sao</span>
                                        <span><span style="width: 33%;"></span></span>
                                        <span>33%</span>
                                    </li>
                                    <li>
                                        <span>1 sao</span>
                                        <span><span style="width: 0%;"></span></span>
                                        <span>0%</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="share-comment">
                                <h5>Chia sẻ đánh giá của bạn</h5>
                                <a href="#">Đăng nhập để đánh giá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="relevant-app">
            <div class="container">
                <h4>Ứng dụng liên quan</h4>
                <div class="row course-row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                </div>
                                <div class="wrapper-mb-style">
                                    <div class="tag-rating">
                                        <span class="tag">Ứng dụng</span>
                                        <div class="rating">
                                            <div class="stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                            </div>
                                            <span class="amount">(23)</span>
                                        </div>
                                    </div>
                                    <h3 class="d-lg-none">Cha mẹ chơi, con thành tài</h3>
                                </div>
                            </div>
                            <div class="info">
                                <h3 class="d-none d-lg-block">Cha mẹ chơi, con thành tài</h3>
                                <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                <div class="price d-none d-lg-flex">
                                    <span class="promotion-price">Từ <b>200.000đ</b></span>
                                    <span class="origin-price">500.000đ</span>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ <b>200.000đ</b></span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                </div>
                                <div class="wrapper-mb-style">
                                    <div class="tag-rating">
                                        <span class="tag">Ứng dụng</span>
                                        <div class="rating">
                                            <div class="stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                            </div>
                                            <span class="amount">(23)</span>
                                        </div>
                                    </div>
                                    <h3 class="d-lg-none">Cha mẹ chơi, con thành tài</h3>
                                </div>
                            </div>
                            <div class="info">
                                <h3 class="d-none d-lg-block">Cha mẹ chơi, con thành tài</h3>
                                <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                <div class="price d-none d-lg-flex">
                                    <span class="promotion-price">Từ <b>200.000đ</b></span>
                                    <span class="origin-price">500.000đ</span>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ <b>200.000đ</b></span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                </div>
                                <div class="wrapper-mb-style">
                                    <div class="tag-rating">
                                        <span class="tag">Ứng dụng</span>
                                        <div class="rating">
                                            <div class="stars">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                            </div>
                                            <span class="amount">(23)</span>
                                        </div>
                                    </div>
                                    <h3 class="d-lg-none">Cha mẹ chơi, con thành tài</h3>
                                </div>
                            </div>
                            <div class="info">
                                <h3 class="d-none d-lg-block">Cha mẹ chơi, con thành tài</h3>
                                <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                <div class="price d-none d-lg-flex">
                                    <span class="promotion-price">Từ <b>200.000đ</b></span>
                                    <span class="origin-price">500.000đ</span>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ <b>200.000đ</b></span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer id="footer"></footer>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
        $('.slider-large-images').slick({
            slidesToShow : 1,
            mobileFirst : true,
            arrows : false,
            prevArrow:`<button type='button' class='slick-prev'><img src='../images/arrow-left.png' alt=''></button>`,
            nextArrow:`<button type='button' class='slick-next'><img src='../images/arrow-right.png' alt=''></button>`,
            responsive : [
                {
                    breakpoint: 992,
                    settings :{
                        arrows : true
                    }
                }
            ]

        });
        $('.slider-small-images').slick({
            slidesToShow: 2,
            centerMode: true,
            centerPadding: '40px',
            mobileFirst : true,
            prevArrow:`<button type='button' class='slick-prev'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>`,
            nextArrow:`<button type='button' class='slick-next'><i class="fa fa-chevron-right" aria-hidden="true"></i></button>`,
            responsive : [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow : 4,
                        centerMode: false
                    }
                }
            ]
        });
    </script>
    <script>
        $('input[type="radio"]').on('click change', function() {
            if ($('input[name=time]:checked').length > 0) {
                $('#shop-details-page #video .box-buy-course .form ul li').removeClass('is-selected');
                $(this).parent().parent().addClass('is-selected');
            }
        });
    </script>
    <script>
        $(window).scroll(function(){
            let pos_slider_images = $('#slider-images').offset().top;
            let pos_body = window.pageYOffset;
            let h_form = $('.box-buy-course').outerHeight();
            let pos_comment = $('#comment').offset().top;
            if(pos_body > pos_slider_images && pos_body < (pos_comment - h_form)){
                $('.box-buy-course').addClass('is-fixed');
            }else {
                $('.box-buy-course').removeClass('is-fixed');
            }
        })
    </script>
    <script>
        $('.slider-small-images .slick-slide img').on('click', function(){
           let srcImage = $(this).attr('src');
           console.log(srcImage);
           $('.slider-large-images .slick-slide.slick-active img').attr('src', srcImage);
        });
    </script>
    <script>
        $('.slider-large-images .slick-next').on('click', function(){
            $('.slider-small-images .slick-next').trigger('click');
        })
        $('.slider-large-images .slick-prev').on('click', function(){
            $('.slider-small-images .slick-prev').trigger('click');
        })
    </script>
    <script>
        if (window.matchMedia('(max-width: 991px)').matches){
            $('.control-show-list-package').on('click', function(){
                $(this).toggleClass('is-showed');
                $('#shop-details-page #video .box-buy-course .form ul').slideToggle();
            })
        }
    </script>
    <script>
        $('#relevant-app .col-sm-6').slick({
            slidesToShow: 1,
        });
    </script>


</body>

</html>
