<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Details</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="wrapper">
                <div class="logo">
                    <a href="/" class="d-inline-block">
                        <img class="img-fluid" src="../images/logo.svg" alt="">
                    </a>
                    <div class="lines control-menu-mb d-sm-none">
                        <span class="lines__first"></span>
                        <span class="lines__second"></span>
                        <span class="lines__last"></span>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a class="register-btn" href="#"><img class="d-lg-none" src="../images/ic-person.svg" alt="">Đăng ký</a>
                        </li>
                        <li>
                            <a class="login-btn" href="#"><img class="d-lg-none" src="../images/key.svg" alt="">Đăng nhập</a>
                        </li>
                        <li>
                            <a class="active-btn" href="#"><img class="d-lg-none" src="../images/log-in.svg" alt="">Kích hoạt COD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main id="shop-details-page">
        <section id="banner">
            <div class="container">
                <a href="#">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span>Về trang chủ</span>
                </a>
                <div class="name d-none d-lg-block">
                    <div class="tag">Ứng dụng</div>
                    <h1>Bé giỏi Toán cùng Fingermath & Soroban</h1>
                </div>
                <div class="description d-none d-lg-block">
                    <span>Early Start</span>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                    </div>
                    <div>
                        Trình độ:
                        <div class="wrapper">
                            <span></span>
                            <span class="empty"></span>
                            <span class="empty"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="video">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <div class="video">
                            <div class="wrapper-video">
                                <a class="link-video" href="https://www.youtube.com/embed/fdUUS9_5-eM?ecver=2&autoplay=1">
                                    <img class="img-thumb img-fluid w-100" src="../images/thumb-video.png" alt="">
                                </a>
                                <div class="show-video"></div>
                            </div>
                            <div class="description d-lg-none">
                                <span>Early Start</span>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                </div>
                                <!--<div>-->
                                    <!--Trình độ:-->
                                    <!--<div class="wrapper">-->
                                        <!--<span></span>-->
                                        <!--<span class="empty"></span>-->
                                        <!--<span class="empty"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="box-buy-course">
                            <div class="tag d-none d-lg-block">Ứng dụng</div>
                            <h3 class="d-none d-lg-block">Bé giỏi Toán cùng Fingermath & Soroban</h3>
                            <div class="form">
                                <ul>
                                    <li>
                                        <input type="radio" name="time" id="one-month">
                                        <label for="one-month">Học 1 tháng</label>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="radio" name="time" id="one-year">
                                        <label for="one-year">Học 1 năm</label>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                    <li>
                                        <input type="radio" name="time" id="six-month">
                                        <label for="six-month">Học 6 tháng</label>
                                        <div class="price">
                                            <div class="origin-price">8.000đ</div>
                                            <div class="promotion-price">8.000đ</div>
                                        </div>
                                    </li>
                                </ul>
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="slider-images">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <h4>Giới thiệu khóa học</h4>
                        <div class="devices">
                            <p>
                                Ứng dụng có thể cài đặt, sử dụng trên: <br>
                                <b>Máy tính Windows/MacOS, iOS, Android</b>
                            </p>
                            <div class="img">
                                <img src="" alt="">
                            </div>
                        </div>
                        <div class="description">
                            <p>Dạy con tự lập ngay từ khi trẻ còn nhỏ là điều rất cần thiết, phù hợp với sự phát triển của Thế giới và Việt Nam. Khi có tính tự lập, trẻ có thể tự làm mọi công việc của mình một cách tốt nhất mà không lệ thuộc, dựa dẫm vào sự giúp đỡ của người khác. Đây chính là những nền tảng cho sự thành công của trẻ về sau.</p>
                            <p>Theo Nhà báo, Nhà giáo dục Trần Thu Hà (Mẹ Xu Sim), dạy con tự lập giúp cho phụ huynh có nhiều thời gian cho chính bản thân mình, giảm căng thẳng, cũng như cho con cơ hội được phát triển toàn diện, biết có trách nhiệm cho cuộc sống của mình.</p>
                            <p>Cho con tự lập không phải là hết yêu thương con, mà chính là can đảm để con tự đúng trên đôi chân của mình, giúp con cất cánh bay cao trên con đường sự nghiệp và thành công về sau của con.</p>
                            <p>
                                Bạn muốn biết phương pháp giúp con tự lập, nhưng bạn vẫn còn băn khoăn:
                                Con còn ỷ lại và nhờ vã mình quá nhiều, liệu cho con tự lập có khả thi?
                                Tự lập có phải là buông lơ con, không cần quan tâm đến con?
                                Để có phương pháp cho con tự lập, nên bắt đầu từ đâu?
                                Làm sao để con tự giác và tự lập trong các sinh hoạt và học tập hằng ngày
                                Với Dạy con tự lập cùng mẹ Xu Sim của Nhà báo, Nhà giáo dục Trần Thu Hà, bạn sẽ nắm vững phương pháp giúp con tự lập.
                            </p>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="same-type">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Thường được học cùng</h4>
                        <div class="course-item">
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="info-teacher">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <h4>Thông tin giảng viên</h4>
                        <div class="wrapper">
                            <div class="img"><img src="../images/avatar.png" alt=""></div>
                            <span>Early Stars</span>
                            <p>Monkey Junior là ứng dụng học tập sáng tạo giành cho trẻ em được công nhận hiệu quả trên toàn thế giới:</p>
                            <p>Giải Nhất cuộc thi Sáng Kiến Toàn Cầu tại Silicon Valley do tổng thống Mỹ Barack Obama chủ trì với hơn 1000 đội đến từ hơn 100 quốc gia khác nhau.</p>
                            <p>Giải Nhất về thiết kế tại cuộc thi Khởi Nghiệp Châu Á - AEA tại Tokyo 2016. Được sự tin tưởng của trên 1 triệu bố mẹ trên toàn thế giới.</p>
                            <p>Top 1 chương trình học đọc trên App Store và Google Play.</p>
                            <p>Top 1 ứng dụng giáo dục cho trẻ em được tải nhiều nhất ở Việt Nam và Top 20 ở Mỹ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="comment">
            <div class="container">
                <h4>Đánh giá của học viên</h4>
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="left">
                            <div class="point">4.5</div>
                            <div class="amount">25 đánh giá</div>
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star disable-active" aria-hidden="true"></i>
                            </div>
                            <ul>
                                <li>
                                    <span>5 sao</span>
                                    <span></span>
                                    <span>80%</span>
                                </li>
                                <li>
                                    <span>4 sao</span>
                                    <span></span>
                                    <span>80%</span>
                                </li>
                                <li>
                                    <span>3 sao</span>
                                    <span></span>
                                    <span>80%</span>
                                </li>
                                <li>
                                    <span>2 sao</span>
                                    <span></span>
                                    <span>80%</span>
                                </li>
                                <li>
                                    <span>1 sao</span>
                                    <span></span>
                                    <span>80%</span>
                                </li>
                            </ul>
                            <div class="share-comment">
                                <h5>Chia sẻ đánh giá của bạn</h5>
                                <a href="#">Đăng nhập để đánh giá</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="right">
                            <h4>Đánh giá (12)</h4>
                            <ul>
                                <li>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                    </div>
                                    <div class="name-date">
                                        <span class="name">David Bẹc Giê</span>
                                        <span class="date">23:00’ 12/12/2019</span>
                                    </div>
                                    <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.</p>
                                </li>
                            </ul>
                            <div class="pagination-line">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="relevant-app">
            <div class="container">
                <div class="row course-row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <!--<a href="#"></a>-->
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star disable-active" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="course-item">
                            <div class="wrapper">
                                <div class="img">
                                    <img class="img-fluid" src="../images/thumb-course.jpg" alt="">
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <span class="amount">(23)</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="tag">Ứng dụng</span>
                                    <h3>Cha mẹ chơi, con thành tài</h3>
                                    <p><b>Trung tâm huấn luyện kỹ năng,</b> Công ty cổ phần đào tạo Tâm Trí Lực </p>
                                    <div class="price d-none d-lg-flex">
                                        <span class="promotion-price">Từ 200.000đ</span>
                                        <span class="origin-price">500.000đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="price d-lg-none">
                                <span class="promotion-price">Từ 200.000đ</span>
                                <span class="origin-price">500.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-line">
                    <ul>
                        <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <footer id="footer"></footer>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.js"></script>


</body>

</html>
