*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}
input, textarea{
  border: 1px solid #333;
  padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  &:focus{
    border:1px solid #3B5998;
    outline: none;
  }
}
textarea{
  resize: none;
}
select{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;


  &:focus{
    outline: none;
  }
}
body{
  font-family: 'SVN-ProductSans',sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #333333;
  font-size: 14px;
  @media(min-width: 992px){
    font-size: 16px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  cursor: pointer;
  transition: all .4s ease;
  &:focus{
    outline: none;
  }
}
a{
  transition: all 0.5s ease;
  &:hover{
    text-decoration: none;
  }
}

input{
  &:focus{
    outline: none;
  }
}

input[type="checkbox"]{
  -webkit-appearance: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
input[type="checkbox"]:after{
  content: '';
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 7px;
  top: 3px;
  opacity: 0;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked{
  outline: none;
  background: #7ed321;
}
input[type="checkbox"]:checked:after{
  opacity: 1;
}

input[type="radio"]{
  -webkit-appearance: none;
  background: #fff;
  width: 21px;
  height: 21px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}
input[type='radio']:checked{
  border-color: #7ed321;
}
input[type="radio"]:after{
  content: '';
  width: 13px;
  height: 13px;
  background: #7ed321;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  border-radius: 50%;
}
input[type="radio"]:checked{
  outline: none;
  background: #fff;
}
input[type="radio"]:checked:after{
  opacity: 1;
}
.wrapper-video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background: #000000;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.slick-slide{
  &:focus{
    outline: none;
  }
}

